<!-- favorite_restaurants.html -->

<div class="container">
    <h2>My Favorite Restaurants</h2>

    <!-- Button to go back to the main search page -->
    <div class="mb-4">
        <a href="{% url 'search_restaurants' %}" class="btn btn-secondary">Back to Search</a>
    </div>

    <div class="row mt-4">
        {% for favorite in favorite_restaurants %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ favorite.restaurant_photo_reference }}" class="card-img-top" alt="{{ favorite.restaurant_name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ favorite.restaurant_name }}</h5>
                    <p class="card-text">{{ favorite.restaurant_address }}</p>
                    <p class="card-text">Rating: {{ favorite.restaurant_rating }}</p>

                    <!-- Redirect to custom map view -->
                    <a href="{% url 'show_map' favorite.place_id %}" class="btn btn-primary" target="_blank">View on Map</a>


                    <!-- Unlike button -->
                    <form method="post" action="{% url 'unlike_restaurant' favorite.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Unlike</button>
                    </form>
                </div>
            </div>
        </div>
        {% empty %}
        <p>You haven't liked any restaurants yet.</p>
        {% endfor %}
    </div>
</div>

