<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
<div class="container">
    <h2>Set New Password</h2>
    <p>Please enter a new password below:</p>

    <form method="post">
        {% csrf_token %}
        {{ form.new_password1.label_tag }}<br>
        {{ form.new_password1 }}<br>
        {{ form.new_password2.label_tag }}<br>
        {{ form.new_password2 }}
        <button type="submit" class="btn btn-primary mt-3">Change Password</button>
    </form>
</div>
{% endblock %}

</body>
</html>